<br>
<h4>Projekt Reporting </h4>
<ul>
  <li><%= link_to "Plannungsübersicht", {:controller => "reporting", :action => "index"} %></li>
  <li><%= link_to "Budgetübersicht",{:controller => "budget", :action => "index"} %></li>
  <li><%= link_to "Excel Export (für dieses Projekt)", {:controller => "reporting", :action => "export_excel_single_project"} %></li>
  <li><%= link_to "Excel Export (alle Projekte)", {:controller => "reporting", :action => "export_excel_all_projects"} %></li>
  <li><%= link_to "Excel Export (alle Projekte in denen ich Projektleiter bin)", {:controller => "reporting", 
            :action => "export_excel_own_projects"} %></li>
</ul>

<h4>Zwischensummen fuer Personalkosten</h4>
<ul>
  <li><%= link_to "Neu", {:controller => "intermediate_budget", :action => "new" } %></li>
  <li><%= link_to "Uebersicht", {:controller => "intermediate_budget", :action => "index" } %></li>
</ul>

<h4> Uploads </h4>
<ul>
  <% if User.current.allowed_to?({:controller => "reporting", :action => "choose_gan_file"}, @project) %>
    <li><%= link_to "Neue Gan-Datei", {:controller => "reporting", :action => "choose_gan_file"} %></li>
  <% end %>
  <% if User.current.allowed_to?({:controller => "budget", :action => "choose_individual_file"}, @project) %>
    <li><%= link_to "Neue Einzelkosten-Liste", {:controller => 'budget', :action => 'choose_individual_file'} %> </li>
  <% end %>
</ul>
