<br>
<h4>Projekt Reporting </h4>
<ul>
  <li><%= link_to "Plannungsübersicht", {:controller => "reporting", :action => "index"} %></li>
  <li><%= link_to "Budgetübersicht",{:controller => "budget", :action => "index"} %></li>
  <li><%= link_to "Excel Export", {:controller => "reporting", :action => "choose_export"} %></li>
</ul>

<% if User.current.allowed_to_globally?(:upload_cost_file, {}) %>
<h4>Zwischensummen für Personalkosten</h4>
<ul>
  <li><%= link_to "Übersicht", {:controller => "intermediate_budget", :action => "index" } %></li>
  <li><%= link_to "Neu (alle Projekte)", {:controller => "intermediate_budget", :action => "new_all_projects"},
										:data => {:confirm => "Sind Sie sicher?"} %></li>
  <li><%= link_to "Neu (dieses Projekt)", {:controller => "intermediate_budget", :action => "new" } %></li>
</ul>
<% end %>

<h4> Uploads </h4>
<ul>
  <% if User.current.allowed_to?({:controller => "reporting", :action => "choose_gan_file"}, @project) %>
    <li><%= link_to "Neue Gantt-Datei", {:controller => "reporting", :action => "choose_gan_file"} %></li>
  <% end %>
  <% if User.current.allowed_to_globally?(:upload_cost_file, {})%>
    <li><%= link_to "Neue Einzelkosten-Liste", {:controller => 'budget', :action => 'choose_individual_file'} %> </li>
  <% end %>
</ul>
