<div class="budget_container">
  <% if @items.empty? %>
    Bislang keine Einzelkosten.
  <% else %>
    <div class="budget_individual_header budget_container_heading">
      <div class="budget_individual_date">Buch. datum</div>
      <div class="budget_individual_receipt">Belegnr.</div>
      <div class="budget_individual_amount">Anzahl</div>
      <div class="budget_individual_cost_description">Kostenart</div>
      <div class="budget_individual_label">Objektbezeichnung</div>
      <div class="budget_individual_costs">Kosten</div>
    </div>
    <% @items.each do |item| %>
      <div class="budget_individual_container">
        <div class="budget_individual_date"><%= I18n.l(item.booking_date) %></div>
        <div class="budget_individual_receipt"><%= item.receipt_number %></div>
        <div class="budget_individual_amount"><%= item.amount %></div>
        <div class="budget_individual_cost_description"><%= item.cost_description %></div>
        <div class="budget_individual_label"><%= item.label %></div>
        <div class="budget_individual_costs"><%= number_to_currency(item.costs) %></div>
        <div class="budget_individual_costs">
	  <% if User.current.admin? %>
	    <a href="#" onclick="update_after_delete('<%= url_for(:controller => 'budget',
				                                  :action => 'delete_individual',
								  :individual_id => item.id) %>')">löschen</a>
	  <% end %>
	</div>
      </div>
    <% end %>
  <% end %>
</div>
