<%= stylesheet_link_tag "budget", :plugin=>"redmine_budget_and_reporting" %>
<script>
  $(document).ready(function(){
    $(".budget_individual_detail").click(function(){
      $.get("<%= url_for(:controller => 'budget', :action => 'show_individual_costs', :project_id => @project.id) %>",
        function(data){
          $("#budget_floating").html(data);
          $("#budget_floating").dialog({
            width: 1000,
            modal: true
          });
        }
      );
    });
  });
  
  function update_after_delete(url){
    $.get(url, function(data){
	  $("#budget_floating").html(data);
	  $("#budget_floating").dialog({
		width: 1000,
		modal: true
	  });
    });
  };
</script>

<h2>Budget Report für <%= @project.name %></h2>

<div class="budget_heading">Übersicht</div>

<div class="budget_container">
  <table class="budget_overview">
    <tr>
      <td>Geplannt <%= @overall_costs[:planned].nil? ? "" : "am " + I18n.l(@overall_costs[:planned].created_on) %>: </td>
      <td><%= @overall_costs[:planned].nil? ? "---" :
          number_to_currency(@overall_costs[:planned].budget, :delimiter => ".") %></td>
    </tr>
    <tr>
      <td>Prognose <%= @overall_costs[:forecast].nil? ? "" : "vom " + I18n.l(@overall_costs[:forecast].planned_date) %>: </td>
      <td><%= @overall_costs[:forecast].nil? ? "---" : 
          number_to_currency(@overall_costs[:forecast].budget, :delimiter => ".") %></td>
    </tr>
    <tr>
      <td>IST-Wert:</td>
      <td><%= number_to_currency(@overall_costs[:issues] + @overall_costs[:individual], :delimiter => ".") %></td>
    </tr>
    <tr>
      <td></td>
      <td><i>(<%= number_to_currency(@overall_costs[:issues], :delimiter => ".") %> Personal +
         <%= number_to_currency(@overall_costs[:individual], :delimiter => ".") %> Einzelkosten)
      </i></td>
    </tr>
  </table>
</div>

<div class="budget_heading">Personalkosten</div>

<% if not @costs_per_issue.empty? %>
  <div class="budget_container">  
    <% @costs_per_issue.each do |version, issue_list| %>
      <div class="budget_version_container">
        <div class="budget_container_heading"> <%= version.nil?  ? " Ohne Meilenstein" : version.name%></div>      
        <% issue_list.each do |issue, total_costs| %>
          <div class="budget_issue_container">
            <div class="budget_issue_name" style="<%="text-decoration:line-through" if issue.closed? %>" >
              <%= link_to(issue.subject.truncate(50), {:controller=> "timelog", :action => "index", 
                                                       :issue_id => issue.id}) %>
            </div>
            <div class="budget_issue_progress"><%= line_for_issue_hours_progress(issue) %></div>
            <div class="budget_issue_hours"><%= (issue.spent_hours).round(2) %> h </div>
            <div class="budget_issue_costs"><%= number_to_currency(total_costs, :delimiter => ".") %> </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="budget_container">Bislang keine Kosten</div>
<% end %>

<div class="budget_heading">Einzelkosten</div>

<table class="individual_items">
  <% @individual_costs.each do |group, list| %>
    <% list.each_with_index do |(type, info), index| %>
      <tr>
	<td class="name <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%=@individual_costs[group][type][0] %>
	</td>
	<td class="type <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%= type.to_s %>
	</td>
	<td class="amount <%=index==0 ? 'top' : ''%> <%=index==list.length-1 ? 'bottom' : ''%>">
	  <%=number_to_currency(@individual_costs[group][type][1], :delimiter => ".") %>
	</td>
	<% if index == 0%>
	  <td class="summed last top bottom" rowspan="<%= list.length %>">
	    <%= group %>: <br> <%=number_to_currency(@individual_costs[group].sum{|t,i| i[1]}, :delimiter => ".") %>
	  </td>
	<% end %>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="2" class="name top bottom">Sonstiges</td>
    <td class="amount top bottom"><%=number_to_currency(@individual_costs_all_other, :delimiter => ".") %></td>
    <td class="summed last bottom top">Sonstiges: <br><%=number_to_currency(@individual_costs_all_other, :delimiter => ".") %></td>
  </tr>
  <tr>
    <td class="top bottom summed last big" colspan="4">
      Gesamt: <%=number_to_currency(@individual_costs.sum{|g,l| l.sum{|t,i| i[1]}}+@individual_costs_all_other , :delimiter => ".")%>
    </td>
  </tr>
</table>
<br><br>
 <a href="#" class="budget_individual_detail">
   <span class="icon icon-copy"></span> Komplette Liste der Einzelkosten anzeigen
</a>
<%= link_to({:controller => "budget", :action => "delete_individual_for_project"}, 
            {:confirm => "Wirklich löschen?", :style => "margin-left:50px"}) do %>
  <span class="icon icon-del"></span>Einzelkosten für dieses Projekt löschen
<% end %>

<div id="budget_floating">
</div>
