<%= stylesheet_link_tag "budget", :plugin=>"redmine_budget_and_reporting" %>
<script>
  $(document).ready(function(){
    $(".budget_individual_detail").click(function(){
      $.get("<%= url_for(:controller => 'budget', :action => 'show_individual_costs', :project_id => @project.id) %>",
        function(data){
          $("#budget_floating").html(data);
          $("#budget_floating").dialog({
            width: 1000,
            modal: true
          });
        }
      );
    });
  });
</script>

<h2>Budget Report für <%= @project.name %></h2>

<div class="budget_heading">Übersicht</div>

<div class="budget_container">
  <table>
    <tr>
      <td>Geplannt <%= @overall_costs[:planned].nil? ? "" : "am " + I18n.l(@overall_costs[:planned].created_on) %>: </td>
      <td><%= @overall_costs[:planned].nil? ? "---" :
          number_to_currency(@overall_costs[:planned].budget) %></td>
    </tr>
    <tr>
      <td>Prognose <%= @overall_costs[:forecast].nil? ? "" : "vom " + I18n.l(@overall_costs[:forecast].planned_date) %>: </td>
      <td><%= @overall_costs[:forecast].nil? ? "---" : 
          number_to_currency(@overall_costs[:forecast].budget) %></td>
    </tr>
    <tr>
      <td>IST-Wert:</td>
      <td><%= number_to_currency(@overall_costs[:issues] + @overall_costs[:individual]) %></td>
    </tr>
    <tr>
      <td></td>
      <td><i>(<%= number_to_currency(@overall_costs[:issues]) %> Personal +
         <%= number_to_currency(@overall_costs[:individual]) %> Einzelkosten)
      </i></td>
    </tr>
  </table>
</div>

<div class="budget_heading">Personalkosten</div>

<% if not @costs_per_issue.empty? %>
  <div class="budget_container">  
    <% @costs_per_issue.each do |version, issue_list| %>
      <div class="budget_version_container">
        <div class="budget_container_heading"> <%= version.nil?  ? " Ohne Meilenstein" : version.name%></div>      
        <% issue_list.each do |issue, total_costs| %>
          <div class="budget_issue_container">
            <div class="budget_issue_name" style="<%="text-decoration:line-through" if issue.closed? %>" >
              <%= link_to(issue.subject.truncate(30), {:controller=> "issues", :action => "show", 
                                                       :id => issue.id}) %>
            </div>
            <div class="budget_issue_progress"><%= line_for_issue_hours_progress(issue) %></div>
            <div class="budget_issue_hours"><%= (issue.spent_hours).round(2) %> h </div>
            <div class="budget_issue_costs"><%= number_to_currency(total_costs) %> </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="budget_container">Bislang keine Kosten</div>
<% end %>

<div class="budget_heading">Einzelkosten</div>

<% if not @individual_costs.empty? %>
  <div class="budget_container">
    <div class="budget_individual_header budget_container_heading">
      <div class="budget_individual_date">Buch. datum</div>
      <div class="budget_individual_receipt">Belegnr.</div>
      <div class="budget_individual_amount">Anzahl</div>
      <div class="budget_individual_cost_description">Kostenart</div>
      <div class="budget_individual_label">Objektbezeichnung</div>
      <div class="budget_individual_costs">Kosten</div>
    </div>
    <% @individual_costs.each do |item| %>
      <div class="budget_individual_container">
        <div class="budget_individual_date"><%= I18n.l(item.booking_date) %></div>
        <div class="budget_individual_receipt"><%= item.receipt_number %></div>
        <div class="budget_individual_amount"><%= item.amount %></div>
        <div class="budget_individual_cost_description"><%= item.cost_description %></div>
        <div class="budget_individual_label"><%= item.label %></div>
        <div class="budget_individual_costs"><%= number_to_currency(item.costs) %></div>
      </div>
    <% end %>
    <div class="budget_individual_detail"><a href="#">Alle Einzelkosten anzeigen ...</a></div>
  </div>
<% else %>
    <div class="budget_container">Bislang keine Kosten</div>
<% end %>

<div id="budget_floating">
</div>
