<%= stylesheet_link_tag "export", :plugin => "redmine_budget_and_reporting" %>

<h2>Berichtauswahl</h2>

<script>
  $(document).ready(function(){
    $("#upto_show").datepicker({
        dateFormat: "<%= I18n.t('date.formats.default').sub('%d', 'dd').sub('%m', 'mm').sub('%Y', 'yy') %>",
        altField : "#upto",
        altFormat: "yy-mm-dd"
      });
  });

  function toggle_all_from_typ(input){
    var status = input.prop("checked");
    var typ = input.prop("name").replace("typ_","");
    $("input[project_typ^="+typ+"]").attr("checked", status);
  }
  function toggle_all_from_list(input, list){
    var status = input.prop("checked");
    $(list).each(function(index, id){
      $("#export_"+id).attr("checked", status);
    });
  }
  function uncheck_typ_if_unchecked(input){
    var typ = input.attr("project_typ");
    if ((input.prop("checked") === false) && ($("#typ_"+typ).prop("checked") === true)){
      $("#typ_"+typ).attr("checked", false);
    }
  }


</script>
<% remark_id = ProjectCustomField.where(:name => "Bemerkung Projektreporting").first.try(:id) %>
<%= form_tag({:controller => "reporting", :action => "export_excel_variable_projects"}, :id => "export_form", :method => :get) do %>
<table class="report_table">
  <% @project_list.each do |typ, projects| %>
  <tr>
    <td colspan="3" class="report_container_header">
      <%= check_box_tag "typ_"+typ.to_s, 1, false,:onchange => "toggle_all_from_typ($(this))" %><%= label_tag "typ_"+typ.to_s, typ.to_s %>
    </td>
  </tr>
  <% projects.each_with_index do |p, i| %>
  <tr class="<%= i==0 ? 'report_entry_first' : '' %> <%= i==projects.length-1 ? 'report_entry_last' : '' %>" >
    <td class="report_container_entry">
      <%= check_box_tag "export["+p.id.to_s+"]", 1, false, :project_typ => typ.to_s,
      :onchange => "uncheck_typ_if_unchecked($(this))", :style => "float:left" %>
      <label for="export_<%= p.id %>">
	<%= p.name %>
      </label>
    </td>
    <td>
      <%= p.status == 1 ? "offen" : "abgeschlossen" %>
    </td>
    <td style="font-style:italic;">
      <%= p.custom_field_value(remark_id) %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
<br><br>
<h4>Weitere Filter</h4>
<div class="report_container">
  <%= check_box_tag "own_projects", 1, false, :onchange => ("toggle_all_from_list($(this), ['"+@special_list["own_projects"]+"'])").html_safe %>
  <%= label_tag "own_projects", "Eigene Projekte" %>
</div>
<div class="report_container">
  <%= check_box_tag "active_projects", 1, false, :onchange => ("toggle_all_from_list($(this), ['"+@special_list["active_projects"]+"'])").html_safe %>
  <%= label_tag "active_projects", "Aktive Projekte" %>
</div>
<div class="report_container">
  <%= check_box_tag "inactive_projects", 1, false, :onchange => ("toggle_all_from_list($(this), ['"+@special_list["inactive_projects"]+"'])").html_safe %>
  <%= label_tag "inactive_projects", "Inaktive Projekte" %>
</div>
<div class="report_container">
  <%= check_box_tag "onhold_projects", 1, false, :onchange => ("toggle_all_from_list($(this), ['"+@special_list["onhold_projects"]+"'])").html_safe %>
  <%= label_tag "onhold_projects", "On Hold Projekte" %>
</div>
<br>
<div class="report_container">
  <%= label_tag "upto_show", "Bericht bis Datum: ", :style => "margin-right: 10px;" %>
  <%= text_field_tag "upto_show", I18n.l(Date.today), :size => 10 %>
  <%= hidden_field_tag "upto", I18n.l(Date.today) %>
</div>
<br>
<input type="submit" value="Exportieren">
<% end %>
