<%= stylesheet_link_tag "reporting", :plugin => "redmine_budget_and_reporting" %>

<script type="text/javascript">

function open_versiondate_dialog(url){
   $.get(url, function(data){
      $("#floating").attr("title", "Alle Prognosen");
      $("#floating").html(data);
      $("#floating").dialog({
        modal: true
      })
    })
};

</script>

<h2>Plannungsuebersicht</h2>

<div class="index_container">
  <div class="index_overflow_container">
    <div class="description">Projekt:</div>
    <div class="description_value"><%= @project.name %></div>
  </div>
  <div class="index_overflow_container">
    <div class="description">Projektleiter:</div>
    <div class="description_value">
      <%= @project_leader ? @project_leader.map {|p| p.name }.to_sentence(:last_word_connector => ", " , :two_words_connector => ", ") : "" %>
    </div>
  </div>
</div>

<div class="horizontal_line"></div>

<div class="index_heading">Meilensteine:</div>
<table>
  <tr>
    <th>Meilenstein</th>
    <th>geplannt</th>
    <th>Prognose</th>
    <th>Ist-Wert</th>
    <th></th>
  </tr>
  <% @version_forecasts.each do |forecast| %>
    <tr>
      <td><%= forecast[0].name %></td>
      <td><%= forecast[0].effective_date || "---" %></td>
      <td><%= forecast[1] || "---" %></td>
      <td><%= forecast[2] || "---" %></td>
      <td><span class="icon icon-add">
          <a onclick="open_versiondate_dialog('<%=url_for({:controller => "forecast", :action => "show_versiondate_forecast",
                                               :version_id => forecast[0].id.to_s, :project_id => @project.id})%>')" href="#">Neue Prognose</a></td>
    </tr>
  <% end %>
</table>

<div class="horizontal_line"></div>

<div class="index_heading">Budget</div>
<table>
  <tr>
    <th></th>
    <th>geplannt</th>
    <th>Prognose</th>
    <th>Ist-Wert</th>
    <th></th>
  </tr>
  <tr>
    <td>Kosten</td>
    <td><%= @budget[2] || "---" %></td>
    <td><%= @budget[3] || "---" %></td>
    <td><%= @budget[0] + @budget[1] || "---" %></td>
    <td><span class="icon icon-add">Neue Prognose</td>
  </tr>
</table>

<div id="floating" style="display:hidden"></div>
